.checkbox-container {
    position: relative;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: relative;
    height: 15px;
    width: 15px;
    background: #fff;
    top: calc(50% - 7.5px);
    left: calc(50% -15px);
    border-radius: 3px;
    border: 2px solid #bbb;
}

.checkmark:hover {
    background: #bbb;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark {
    border: 1px solid #2fbe8e;
    background: #019160;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkmark::after {
    left: 3.5px;
    top: 1px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}