.footer-container {
    width: 100%;
    padding: 20px 0 10px 0;
    border-top: 1px solid #bbb;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-container .right {
    display: flex;
}

.footer-container button,
.footer-container .close,
.footer-container .submit {
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.footer-container .close {
    background: #fff;
    border: 1px solid black;
}

.footer-container .cut {
    border: 1px solid black;
}

.footer-container .submit {
    border: none;
    background: #019160;
    color: #fff;
    margin-left: 20px;
}

.footer-container .submit:hover {
    background: #2fbe8e;
}

.footer-container .submit:active {
    background: #01B075;
}